.login-user{
    margin-left:20px;
    margin-right:10px;
}

.nav-icon{
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
    cursor: pointer;
}

.web-name{
    margin-left: 200px;
}