.login-user{
    margin-left:20px;
    margin-right:10px;
}

.nav-icon-lighttoggle,.nav-icon-home{
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
    cursor: pointer;
}

.nav-icon-search{
    color: aliceblue;
}

.web-name{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.Navbar{
    width: 100%;
}

.mr-sm-1{
    height: 35px;
    width: 250px;
    margin: 0 10px 0 5px;
}