.navbar{
    margin: auto;
    background-color: MediumTurquoise ;
    height: 60px;
    display: flex;
}
.sidebar{
    background-color: steelblue;
    font-size: 50px;
}

.webname{
    margin: 10px;
}